#debugBox{
    background-color: black;
    color: lightgreen;
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 240px;
    overflow: scroll;

}

#allCardsBox{
    background-color: darkgreen;
    color: white;
    width: 100%;
}

.targetArea{

}