#debugBox{
    background-color: black;
    color: lightgreen;
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 240px;
    overflow: scroll;

}

#allCardsBox{
    background-color: darkgreen;
    color: white;
    width: 100%;
}

.targetArea{
    display: flex;
    justify-content: center;
}

.targetAreaInnerBox{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}