#debugBox{
    background-color: black;
    color: lightgreen;
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 22px;
    overflow: scroll;

}

h1{
    text-align: center;
    text-shadow: 8px 8px 5px black;
    color: yellow;
    font-size: 5vh;
    margin: 5px;
}

.mainbuttonBox{
    position: absolute;
    top: 3px;
    left: 3px;
}


#allCardsBox{
    background-color: darkgreen;
    color: white;
    width: 100%;
}


div[data="P0SS"],div[data="P1SS"],div[data="P2SS"],div[data="P3SS"]{
    box-shadow: 8px 8px 4px black;
}
div[data="P0SD"],div[data="P1SD"],div[data="P2SD"],div[data="P3SD"]{
    box-shadow: 4px 4px 2px black,
                7px 7px 2px white,
                10px 10px 2px black;
}


.targetArea{
    display: flex;
    justify-content: center;
}

.targetAreaInnerBox{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}