html {
    background-color: forestgreen;
}

.row {
    width: 100%;
    clear: both;
    display: flex;
    justify-content: center;
}

.col-2 {
    width: 16.6666%;
    float: left;
}

.col-8 {
    width: 66.666%;
    float: left;
}


.flex-container1 {
    display: flex;
    flex-wrap: nowrap;
    background-color: mediumpurple;
    justify-content: center;
}

.flex-container2 {
    display: flex;
    flex-wrap: wrap;
    background-color: rosybrown;
    justify-content: center;
}

.flex-container3 {
    display: flex;
    flex-wrap: nowrap;
    background-color: darkseagreen;
    justify-content: center;
}

.flex-container4 {
    display: flex;
    flex-wrap: wrap;
    background-color: lightpink;
    justify-content: center;
}

.Card {
    background-color: #f1f1f1;
    width: 100px;
    height: 200px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    align-content: center;
    align-items: stretch;
}

.Card1L {
    background-color: #f1f1f1;
    width: 100px;
    height: 200px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    align-content: center;
    align-items: stretch;
}

.Card2L {
    background-color: #f1f1f1;
    width: 100px;
    height: 200px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    align-content: center;
    align-items: stretch;
}

.Card3L {
    background-color: #f1f1f1;
    width: 100px;
    height: 200px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    align-content: center;
    align-items: stretch;
}

.Card4L {
    background-color: #f1f1f1;
    width: 100px;
    height: 200px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    align-content: center;
    align-items: stretch;
}

.CardSL {
    background-color: #f1f1f1;
    width: 100px;
    height: 200px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    align-content: center;
    align-items: stretch;
}

.CardHL {
    background-color: #f1f1f1;
    width: 100px;
    height: 200px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    align-content: center;
    align-items: stretch;
}

.Card1B {
    background-color: #f1f1f1;
    width: 100px;
    height: 200px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    align-content: center;
    align-items: stretch;
}

.Card2B {
    background-color: #f1f1f1;
    width: 100px;
    height: 200px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    align-content: center;
    align-items: stretch;
}

.Card3B {
    background-color: #f1f1f1;
    width: 100px;
    height: 200px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    align-content: center;
    align-items: stretch;
}

.Card4B {
    background-color: #f1f1f1;
    width: 100px;
    height: 200px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    align-content: center;
    align-items: stretch;
}

.CardSB {
    background-color: #f1f1f1;
    width: 100px;
    height: 200px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    align-content: center;
    align-items: stretch;
}

.CardHB {
    background-color: #f1f1f1;
    width: 100px;
    height: 200px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    align-content: center;
    align-items: stretch;
}

.Card1G {
    background-color: #f1f1f1;
    width: 100px;
    height: 200px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    align-content: center;
    align-items: stretch;
}

.Card2G {
    background-color: #f1f1f1;
    width: 100px;
    height: 200px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    align-content: center;
    align-items: stretch;
}

.Card3G {
    background-color: #f1f1f1;
    width: 100px;
    height: 200px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    align-content: center;
    align-items: stretch;
}

.Card4G {
    background-color: #f1f1f1;
    width: 100px;
    height: 200px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    align-content: center;
    align-items: stretch;
}

.CardSG {
    background-color: #f1f1f1;
    width: 100px;
    height: 200px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    align-content: center;
    align-items: stretch;
}

.CardHG {
    background-color: #f1f1f1;
    width: 100px;
    height: 200px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    align-content: center;
    align-items: stretch;
}

.Card1P {
    background-color: #f1f1f1;
    width: 100px;
    height: 200px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    align-content: center;
    align-items: stretch;
}

.Card2P {
    background-color: #f1f1f1;
    width: 100px;
    height: 200px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    align-content: center;
    align-items: stretch;
}

.Card3P {
    background-color: #f1f1f1;
    width: 100px;
    height: 200px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    align-content: center;
    align-items: stretch;
}

.Card4P {
    background-color: #f1f1f1;
    width: 100px;
    height: 200px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    align-content: center;
    align-items: stretch;
}

.CardSP {
    background-color: #f1f1f1;
    width: 100px;
    height: 200px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    align-content: center;
    align-items: stretch;
}

.CardHP {
    background-color: #f1f1f1;
    width: 100px;
    height: 200px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    align-content: center;
    align-items: stretch;
}